@using HygieiaApp.Models.Enums
@using HygieiaApp.Models.Models
@model MedicationConditionDto

@{
    ViewData["Title"] = "View Medical Condition";
}

<div class="card-body p-3">
    <form method="post">
        <input asp-for="MedicalCondition.Id" hidden/>
        <div class="border p-3  mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Medical Condition Info</h2>
                <hr/>
            </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label class="col-form-label" asp-for="MedicalCondition.Category"></label>
                <select class="form-select"  disabled asp-for="MedicalCondition.Category" asp-items="@Html.GetEnumSelectList<ConditionCategory>()">
                    <option selected="selected" id="select" value="@Model.MedicalCondition.Category"></option>
                </select>
                <label class="col-form-label" asp-for="MedicalCondition.Type"></label><br/>
                <input type="text" disabled asp-for="MedicalCondition.Type" class="form-control"/><br/>
                <label class="col-form-label" asp-for="MedicalCondition.NameOfDiagnosis"></label><br/>
                <input disabled type="text" asp-for="MedicalCondition.NameOfDiagnosis" class="form-control"/><br/>
                <label class="col-form-label" asp-for="MedicalCondition.Symptoms"></label><br/>
                <input type="text" disabled asp-for="MedicalCondition.Symptoms" class="form-control"/><br/>
                <label class="col-form-label" asp-for="MedicalCondition.Treatment"></label><br/>
                <input disabled type="text" asp-for="MedicalCondition.Treatment" class="form-control"/>
                
                @if (@Model.MedicalConditionMedications is not null)
                {
                    <div class="row">
                    @foreach (var element in @Model.MedicalConditionMedications)
                    {
                        
                        <div class="card w-25" style="margin-bottom: 15px">
                            <div class="card-body">
                                <p class="card-text">@element.NameOfMedication</p>
                                <p class="card-text">@element.MaximumDosage</p>
                            </div>
                        </div>
                    }
                    </div>
                }
            </div>
            
            <a asp-controller="MedicalCondition" asp-action="Index">Back to listing</a>
        </div>
    </form>

</div>
<script>
    let selected = document.getElementById("selection");
    let li = document.createElement("p");
    li.innerHTML = selected.options[selected.selectedIndex].text;
    document.getElementById("write").appendChild(li);

</script>