@model HygieiaApp.Models.DTO.PatientMedicalHistoryDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="card-body p-3">
    <form method="get" class="row">
        <h1 class="h1 text-primary">@( Model.PatientName.FirstName + " " + Model.PatientName.LastName)</h1>
        <h5 class="h5 text-secondary">@Model.PatientName.Gender.ToString(), @Model.PatientName.DateOfBirth.ToString("dd MMMM yyyy")</h5><br/>
        <h5 class="h5 text-secondary"><b>OIB:</b>&nbsp;@Model.PatientName.Oib</h5>
        @if (@Model is not null)
        {
            @foreach (var date in @Model.Conditions)
            {
                <div class="card w-100 text-center" style="margin-bottom: 15px; ">
                    <div class="card-body">
                        <p class="card-text"><b>State:</b> &nbsp;@date.Stage.ToString()</p>
                        <p class="card-text"><b>Date Of Diagnosis:</b> &nbsp;@date.DateOfDiagnosis.ToString("dddd, dd MMMM yyyy")</p>
                        <p class="card-text"><b><b>Diagnosis:</b> &nbsp;:</b> &nbsp;@date.MedicalCondition.NameOfDiagnosis</p>

                        <a asp-area="Doctor" asp-action="GetUsersConditionDetails" asp-route-id="@date.Id" class="btn btn-danger">Show more</a>

                    </div>
                </div>
            }
        }


    </form>
</div>

