@model HygieiaApp.Models.DTO.PatientDoctorDTO

<div class="card-body p-3" xmlns="http://www.w3.org/1999/html">

    <form method="post">
        <input asp-for="@Model.Patient.Id" hidden/>
        <div class="border p-3  mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Patient Details</h2>
                <hr/>
            </div>
    
            <div class="mb-3">
                <label class="col-form-label" asp-for="@Model.Patient.FirstName"></label><br/>
                <input type="text" asp-for="@Model.Patient.FirstName" disabled class="form-control"/><br/>
                <label class="col-form-label" asp-for="@Model.Patient.LastName"></label><br/>
                <input type="text" asp-for="@Model.Patient.LastName" disabled class="form-control"/><br/>
                <label class="col-form-label" asp-for="@Model.Patient"></label><br/>
                <input type="text" asp-for="@Model.Patient" disabled class="form-control"/><br/>
                <label class="col-form-label" asp-for="@Model.Patient.Email"></label><br/>
                <input type="text" asp-for="@Model.Patient.Email" disabled class="form-control"/><br/>
                <label class="col-form-label">Doctor</label><br/>
                <input type="text" asp-for="@(Model.User.Email)" disabled class="form-control"/><br/>
                
            </div>

            <div style="border-bottom: solid cadetblue 2px;"></div>
            <br/>
            <h4 class="text text-bg-light text-center">Test Results</h4>
            <a asp-controller="Doctor" asp-action="GetAllPatientsResults" asp-route-id="@Model.Patient.Id" class="btn btn-primary mx-2">
                <i class="bi bi-folder"></i> All Results
            </a> &nbsp;&nbsp;
            <a asp-controller="Doctor" asp-action="UploadResults" asp-route-id="@Model.Patient.Id" class="btn btn-primary mx-2">
                <i class="bi bi-plus-square-fill"></i>Upload results
            </a> &nbsp;&nbsp;<br/>
            <br/>
            <div style="border-bottom: solid cadetblue 2px;"></div>
            <br/>
            <h4 class="text text-bg-light text-center">Medical History</h4>
              <a asp-controller="Doctor" asp-action="GetUsersMedicalHistory" asp-route-id="@Model.Patient.Id" class="btn btn-primary mx-2"><i class="bi bi-journal"></i>
                            Show History</a> &nbsp;
            <a asp-controller="Doctor" asp-action="DiagnosePatient" asp-route-id="@Model.Patient.Id" class="btn btn-primary mx-2"><i class="bi bi-heart-pulse-fill"></i> 
                Diagnose Patient</a><br/>
            <a asp-controller="Doctor" asp-action="Index">Back to listing</a>
        </div>
    </form>
</div>
