@using HygieiaApp.Models.Enums
@model System.Collections.Generic.IEnumerable<ApplicationUser>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users</h2>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>
      <table class="table table table-bordered border-1.4 border-blue">
                  <thead class="thead-dark text-secondary" style="background-color: lightblue; text-overline-color: white; color: white">
                  <tr class="text-primary">
                      <th>
                          Email
                      </th>
                      <th>
                          Username
                      </th>
                     
                      <th>
                          
                      </th>

                      <th>
                          
                      </th>
                     
                  </tr>
                  </thead>
                  <tbody>
                  @foreach (var mc in Model)
                  {
                      <tr>
                          <td>@mc.Email</td>
                          <td>@mc.UserName</td>
                          <td>@mc.Role</td>
                          <td>
                              <div class="w-75 btn-group" role="group">
                                  @if (!mc.Role.Equals(RoleName.Administrator.ToString()))
                                  {
                                      <a asp-action="Edit" asp-route-id="@mc.Id" class="btn btn-primary mx-2">
                                          <i class="bi bi-pencil-square"></i>
                                      </a>
                                      
                                  }
                                  else
                                  {
                                      <a asp-controller="Immunization" aria-disabled="True" asp-action="Edit" asp-route-id="@mc.Id" class="btn btn-danger mx-2">
                                          <i class="bi bi-pencil-square"></i>
                                      </a>
                                  }
                                  &nbsp;
                                  <a asp-controller="MedicalCondition" asp-action="Info" asp-route-id="@mc.Id" class="btn btn-primary mx-2">
                                      <i class="bi bi-info-circle-fill"></i>
                                  </a> &nbsp;
                                  &nbsp;
                                  <a asp-controller="Immunization" asp-action="Delete" asp-route-id="@mc.Id" class="btn btn-primary mx-2">
                                      <i class="bi bi-trash"></i>
                                  </a>
                              </div>
                          </td>
                      </tr>
                  }
                  </tbody>
              </table>
    </div>
</div>
